<div id="container">
    <div id="main">


        <div>
            <h1 class="bandMembers">Band Members</h1>

            <div class="content">
                <div class="card">
                    <div class="topCard">
                        <h2 class="title">Andy Sixx</h2>
                        <p class="secondText">Also known as Andy Biersack</p>
                        <div class="mediaAndy"></div>
                        <div class="bottomCard">
                            <p class="bottomText">Andy Sixx is the founder and lead vocalist of rock band <strong>Black Veil Brides</strong>, and is its only remaining original member.</p>
                            <div class="actionsCard">
                                <button class="actions">Like</button>
                                <button class="actions">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        
            <div class="content">
                <div class="card">
                    <div class="topCard">
                        <h2 class="title">Jinxx</h2>
                        <p class="secondText">Also known as Jeremy Miles Ferguson</p>
                        <div class="mediaJinxx"></div>
                        <div class="bottomCard">
                            <p class="bottomText">best known as guitarist, violinist, cellist, pianist, songwriter, and composer of American rock band <strong>Black Veil Brides</strong></p>
                            <div class="actionsCard">
                                <button class="actions">Like</button>
                                <button class="actions">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="content">
                <div class="card">
                    <div class="topCard">
                        <h2 class="title">Jake Pitts</h2>
                        <p class="secondText">Also known as Jacob Mark Pitts</p>
                        <div class="mediaJake"></div>
                        <div class="bottomCard">
                            <p class="bottomText">American musician and record producer best known as the lead guitarist of rock band <strong>Black Veil Brides</strong></p>
                            <div class="actionsCard">
                                <button class="actions">Like</button>
                                <button class="actions">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <div class="content">
                <div class="card">
                    <div class="topCard">
                        <h2 class="title">CC</h2>
                        <p class="secondText">Also known as Christian Coma</p>
                        <div class="mediaCC"></div>
                        <div class="bottomCard">
                            <p class="bottomText">He's the drummer of <strong>Black Veil Brides.</strong> CC joined the band in late 2010 during the touring cycle for the debut album We Stitch These Wounds</p>
                            <div class="actionsCard">
                                <button class="actions">Like</button>
                                <button class="actions">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="content">
                <div class="card">
                    <div class="topCard">
                        <h2 class="title">Lonny Eagleton</h2>
                        <p class="secondText">Also known as Lonny</p>
                        <div class="mediaLonny"></div>
                        <div class="bottomCard">
                            <p class="bottomText">He's the bassist for <strong>Black Veil Brides</strong>. Lonny joined the band after the departure of Ashley Purdy in November 2019.</p>
                            <div class="actionsCard">
                                <button class="actions">Like</button>
                                <button class="actions">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>


<app-footer></app-footer>