.imageHeader {
    background-repeat: no-repeat;
    background-image: url(../header/images/BVB_COVER_DEF.jpg);
    background-size: 100% 100%;
    width: 100%;
    display: inline-block;
    height: 500px;

}